a {
    color: #4c6ff5 !important;
    font-weight: 600;
}

h3 {
    color: #4c6ff5;
    margin-bottom: 12px;
}

h4 {
    margin-bottom: 12px;
}

.upload-form {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

#upload-image {
    width: 100%;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space-top {
    margin-top: 32px;
}

.container-shadow {
   padding: 32px;
   /* border: 1px solid #DCDCDC; 
   border-radius: 5px; */
   border-radius: 5px;
   box-shadow: 13px 13px 26px #bebebe,
    -13px -13px 26px #ffffff;
}

.slider {
    width: 100%;
    margin-top: 16px;
}

.container-img {
    width: 50%;
    /* display: none; */
}

.container-img:nth-child(2) {
    margin-left: 16px;
}

.container-main {
    width: auto;
    height: auto;
    margin: 2.5vh 20vw;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-architecture {
    width: 94%;
    height: auto;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.conv-block {
    width: auto;
    height: auto;
    /* margin: 16px 4px 16px 0; */
    margin: 16px 0;
    background: #f3f3f3;
    border-radius: 5px;
    writing-mode: tb-rl;
}

.conv-block-text {
    text-align: center;
    transform: rotate(180deg);
    padding: 8px;
}

.arrow {
    height: 2px;
    width: 100%;
    background: #000000;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.header-info img {
    width: 20px;
    height: auto;
    display: inline;
    margin: 0 0 .5rem 6px;
}

details summary > * { 
  display: inline;
}

.div-summary {
    display: inline-flex;
}

.rc-slider {
    border: none;
}

.rc-slider-track {
  background-color: #4c6ff5;
}

.rc-slider-dot-active {  
  border-color: #4c6ff5;
  border: solid 2px #4c6ff5;
}

.rc-slider-handle {
  background-color: #4c6ff5;
  border-color: #4c6ff5;
}

.rc-slider-handle:hover {
  border-color: #4c6ff5;
}

.rc-slider-handle:active {
  border-color: #4c6ff5;
  box-shadow: 0 0 5px #4c6ff5;
}
.rc-slider-handle-active:active {
  border-color: #4c6ff5;
}

.flexbox-explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-explanation {
    width: auto;
    max-width: 90%;
    height: 30vh;
    margin: 16px
}